{% trans_default_domain 'FOSUserBundle' %}
{% extends 'back.html.twig' %}

        {% block content %}
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                <div class="content-body"><div id="user-profile">
                        <div class="row">
                            <div class="col-12">
                                <div class="card profile-with-cover">
                                    <div class="card-img-top img-fluid bg-cover height-300" style="background: url({{ asset('back/app-assets/images/carousel/25.jpg') }}) 50%;"></div>
                                    <div class="media profil-cover-details w-100">
                                        <div class="media-left pl-2 pt-2">
                                            <a href="#" class="profile-image">
                                                <img src="{{ asset('back/app-assets/images/portrait/medium/avm.png') }}" class="rounded-circle img-border height-100" alt="Card image">

                                            </a>
                                        </div>
                                        <div class="media-body pt-3 px-2">
                                            <div class="row">
                                                <div class="col">
                                                    <h3 class="card-title"><h3>{{user.username}}</h3></h3>
                                                </div>
                                                <div class="col text-right">
                                                    <button type="button" class="btn btn-primary d-
                            "><i class="fa fa-plus"></i> Follow</button>
                                                    <div class="btn-group d-none d-md-block float-right ml-2" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-success"><i class="fa fa-dashcube"></i> Message</button>
                                                        <button type="button" class="btn btn-success"><i class="fa fa-cog"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav class="navbar navbar-light navbar-profile align-self-end">
                                        <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"></button>
                                        <nav class="navbar navbar-expand-lg">
                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="navbar-nav mr-auto">

                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Profile</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#"><i class="fa fa-briefcase"></i> Projects</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#"><i class="fa fa-heart-o"></i> Favourites</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#"><i class="fa fa-bell-o"></i> Notifications</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                    <div class="text-center">

                        <h4>My Profile</h4>

                        <p>{{ 'First Name '|trans }}: {{ user.Nom }}</p>
                        <p>{{ 'Last Name '|trans }}: {{ user.prenom }}</p>
                        <p>{{ 'Email '|trans }}: {{ user.email }}</p>

                        <p>{{ 'Adresse '|trans }}: {{ user.Address }}</p>



                    </div>
                </div>

            </div>

        {% endblock %}





