{% extends 'back.html.twig'%}

{% block content %}
    {{ app.user.username }}

    <div class="container mt-4">

    </div>
    {{ form_start (f) }}
    <section id="basic-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        {% set break = false %}

                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">

                        <div class="form-group row">

                            <label class="col-md-3 label-control" for="projectinput1">Sujet
                            </label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(f.sujetReclamation,{ 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">

                            <label class="col-md-3 label-control" for="projectinput1">Description
                            </label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form(f.descriptionReclamation,{ 'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                        </div>







                        {{ form_widget(f.Submit,{ 'attr': {'class': 'btn btn-primary'}}) }}








                    </div>

                </div>
            </div>
        </div>


        </div>


        </div>

        {{ form_end(f) }}
    </section>

{% endblock %}