{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'sky-form' } }) }}



<dl class="dl-horizontal">
    <dt>Mot de passe</dt>
    <dd>
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                {{ form_widget(form.current_password)}}
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
        </section>
    </dd>
    <dt>Enter your password</dt>
    <dd>
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                {{ form_widget(form.plainPassword.first)}}
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
        </section>
    </dd>
    <dt>Enter your password</dt>
    <dd>
        <section>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                {{ form_widget(form.plainPassword.second)}}
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
            </label>
        </section>
    </dd>
</dl>
<label class="toggle toggle-change"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Remember password</label>
<br>
<section>
    <label class="checkbox"><input type="checkbox" id="terms" name="terms"><i></i><a href="#">I agree with the Terms and Conditions</a></label>
</section>
<button class="btn-u" type="submit" value="{{ 'change_password.submit'|trans }}">Save Changes</button>

{{ form_end(form) }}