{% extends 'back.html.twig'%}

{% block content %}



    <section id="cardAnimation" class="cardAnimation">
<div class="row">
    {% for i in f %}
       <div class="card">
        <div class="card-content">
           <div class="card-body border-bottom-blue-grey">
                <img src ="{{ asset('image/formation.jpg')}}" width="700px" height="350px">

               <div class="sidebar-detached sidebar-right">
                   <div class="sidebar">
                       <div class="card">
                           <div class="card-header mb-0">
                               <h4 class="card-title">Liste des personnes</h4>
                               <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                               <div class="heading-elements">
                                   <ul class="list-inline mb-0">
                                       <li><a data-action="collapse"><i class="ft-plus"></i></a></li>
                                       <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                       <li><a data-action="close"><i class="ft-x"></i></a></li>
                                   </ul>
                               </div>
                           </div>
                           <div class="card-content collapse show" style="">
                               <div class="card-content">
                                   <div class="card-body  py-0 px-0">
                                       <div class="list-group">
                                          <a href="javascript:void(0)" class="list-group-item">
                                               <div class="media">
                                                   <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="{{ asset('image/user.jpg') }}" alt="avatar"><i></i></span></div>
                                                   <div class="media-body w-100">
                                                       <h6 class="media-heading mb-0">{{ i.ideFormateur}}</h6>
                                                       <p class="font-small-2 mb-0 text-muted">Formateur</p>
                                                   </div>
                                               </div>
                                           </a>

                                           <a href="javascript:void(0)" class="list-group-item">
                                               <div class="media">
                                                   <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="{{ asset('image/user.jpg') }}" alt="avatar"><i></i></span></div>
                                                   <div class="media-body w-100">
                                                       <h6 class="media-heading mb-0">{{ i.ideFormateur}}</h6>
                                                       <p class="font-small-2 mb-0 text-muted">Invitée</p>
                                                   </div>
                                               </div>
                                           </a>


                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

                <div class="card-body">
                    <h4>{{i.getNomFormation()}}</h4>
                    <p class="card-text">{{ i.getSujetFormation() }}</p>
                </div>

                <div class="card-footer text-muted">
                    <span class="float-left">
                        <span class="ml-1">Date :</span>
                        <span class="ml-1">{{ i.getDate() }}</span>
                    </span>
                    <span class="float-right"> Heure : {{i.getTimeDebut()}}h->{{i.getTimeFin()}}h</span>
                </div>



            </div>
        </div>
    {% endfor %}
    </div>
    </div>
    </section>
{% endblock %}